.home {
  display: flex;
  flex-direction: column;
  .home-title {
    font-size: 35px;
    color: red;
    text-align: center;
    position: relative;
    top: 30px;
    text-shadow: 2px 2px 2px gray;
  }
  .home-description {
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 30px;
  }
}
