@import "../../../assets/_mixins.scss";

.search-bar {
  display: flex;
  align-items: center;
  margin: 20px 15px 0;
  justify-content: space-between;
}
.page-counter {
  width: 60px;
}
.page-btn {
  margin: 0 10px;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid black;
}

.arrow.desc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
}

.table-responsive {
  @include form-border;
  table {
    display: flex;
    flex-flow: column;
    width: 100%;
    word-break: break-all;

    thead {
      flex: 0 0 auto;
    }

    tbody {
      height: 70vh;
      flex: 1 1 auto;
      display: block;
      overflow: auto;
    }

    tr {
      width: 100%;
      display: table;
      table-layout: fixed;
    }

    th {
      vertical-align: middle;
    }
  }
}
