<div class="product-list">
  <div class="search-bar">
    <input
      v-model="searchTerm"
      @keyup="fetchProducts"
      placeholder="Search..."
    />
    <router-link :to="{ name: 'ProductCreate' }" class="btn btn-secondary">
      Create product
    </router-link>
  </div>
  <br />
  <b-row>
    <b-col md="12">
      <b-overlay :show="isLoading" rounded="sm">
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Product name</th>
                <th>Availability</th>
                <th>Type</th>
                <th>Available sizes</th>
                <th style="width: 25%;"></th>
              </tr>
            </thead>
            <tbody>
              <product-list-row
                v-for="product in products"
                :key="product.id"
                :product="product"
                @details="detailsProduct"
                @update="updateProduct"
                @delete="deleteProduct"
              />
            </tbody>
          </table>
        </div>
      </b-overlay>
      <div>
        <b-button
          class="page-btn"
          @click="prevPage"
          :disabled="!hasPrevious"
          pill
          variant="info"
          >Prev</b-button
        >
        <input
          class="page-counter"
          type="number"
          :max="totalPages"
          min="1"
          v-model="currentPage"
          @change="onPageEnter"
        />
        <span> of {{totalPages}}</span>
        <b-button
          class="page-btn"
          @click="nextPage"
          :disabled="!hasNext"
          pill
          variant="info"
          >Next</b-button
        >
      </div>
    </b-col>
  </b-row>
  <b-modal
    ref="deleteConfirmModal"
    title="Confirm delete action"
    @ok="onDeleteConfirm"
    @hide="onDeleteModalHide"
  >
    <p class="my-4">Are you sure that you want delete this product?</p>
  </b-modal>
  <b-modal ref="alertModal" :title="alertModalTitle" :ok-only="true">
    <p class="my-4">{{alertModalContent}}</p>
  </b-modal>
</div>
